.git
.gitignore
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
build/
dist/
.venv/
venv/
env/
node_modules/
docs/
misc/
tmp*/
*.log
.DS_Store
*.sqlite*
*.coverage*

