# Junkdrawer
junkdrawer/
hold/
arch-notes/
arch_notes/
testing/
olderhold/
copywriting/

# Python cache
__pycache__/
*.py[cod]

# Embeddings
embeddings/

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
.env/

# Compiled files, for now
*.com
*.class
*.dll
*.exe
*.o
*.so

# Python packaging
*.egg
*.egg-info/
dist/
build/
eggs/
.eggs/

# Node modules (but not the entire frontend)
node_modules/
penguin-web/node_modules/

# pytest
.pytest_cache/
 
# .venv
.venv/

# .vscode
.vscode/

# ct1
ct1/

# chromatest
chroma_test/

# Logs and databases
*.log
*.sql
*.sqlite
@logs/
/logs/
penguin/logs/
penguin/error_log/

# Ignore the notes folder in penguin
penguin/notes/

# Ignores the entire example folder, mostly for testing purposes
penguin/example/
penguin/codeact/ 

# Ignore testing folder, nothing useful in there yet.
/testing/

# Backup files
*.bak
*.swp
*~
.aider*
