# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# SQLite database
*.db

# IDE-specific files
.vscode/
.idea/

# Logs
*.log

# Ignores the entire example folder, mostly for testing purposes
/example/

# Test coverage
.coverage
htmlcov/

# Distribution / packaging
dist/
build/
*.egg-info/