[data-component="accordion"] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  [data-slot="accordion-item"] {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    overflow: clip;

    [data-slot="accordion-header"] {
      width: 100%;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;

      [data-slot="accordion-trigger"] {
        width: 100%;
        display: flex;
        height: 32px;
        padding: 8px 12px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        cursor: default;
        user-select: none;

        background-color: var(--surface-base);
        border: 1px solid var(--border-weak-base);
        border-radius: var(--radius-md);
        overflow: clip;
        color: var(--text-strong);
        transition: background-color 0.15s ease;

        /* text-12-regular */
        font-family: var(--font-family-sans);
        font-size: var(--font-size-small);
        font-style: normal;
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-large); /* 166.667% */
        letter-spacing: var(--letter-spacing-normal);

        &:hover {
          background-color: var(--surface-base);
        }
        &:focus-visible {
          outline: none;
        }
        &[data-disabled] {
          cursor: not-allowed;
        }
      }
    }

    &[data-expanded] {
      [data-slot="accordion-trigger"] {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      [data-slot="accordion-content"] {
        border: 1px solid var(--border-weak-base);
        border-top: none;
        border-bottom-left-radius: var(--radius-md);
        border-bottom-right-radius: var(--radius-md);
      }
    }

    [data-slot="accordion-content"] {
      overflow: hidden;
      width: 100%;
    }
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--kb-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--kb-accordion-content-height);
  }
  to {
    height: 0;
  }
}
