# Penguin setup files
.penguin_setup_complete


# Junkdrawer
junkdrawer/

# Python cache
__pycache__/
*.py[cod]

# Testing errors

tests/errors_log/
# Embeddings
embeddings/

# Workspace conversations, embeddings, etc.
.workspace/conversations/
.workspace/memory_db/
.workspace/logs

config.yml

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
.env/

# Compiled files, for now
*.com
*.class
*.dll
*.exe
*.o
*.so

# Python packaging
*.egg
*.egg-info/
dist/
build/
eggs/
.eggs/

# Virtual environments
venv/
env/
.env/
penguin_venv/

# Logs and databases
*.log
*.sql
*.sqlite
@logs/
/logs/
penguin/logs/


# Ignores the entire example folder, mostly for testing purposes
penguin/example/

# Ignore testing folder, nothing useful in there yet.
/testing/

# Backup files
*.bak
*.swp
*~